<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AvenueOne.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=(localdb)\MSSQLLocalDB; integrated security=SSPI; AttachDbFilename=|DataDirectory|\Db\AvenueOneDb.mdf;"
      providerName="System.Data.SqlClient" />
    <add name="LocalConnection" connectionString="data source=(localdb)\MSSQLLocalDB; initial catalog=AvenueOneDb; integrated security=SSPI;"
      providerName="System.Data.SqlClient" />
    <add name="ExpressConnection" connectionString="data source=.\SQLEXPRESS; initial catalog=AvenueOneDb; integrated security=SSPI"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <AvenueOne.Properties.Settings>
      <setting name="UserAccount" serializeAs="Xml">
        <value>
          <User xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Id />
            <DateAdded>2020-02-03T14:41:50.8983749+08:00</DateAdded>
            <DateModified xsi:nil="true" />
            <Username />
            <Password />
            <IsAdmin>false</IsAdmin>
            <Person>
              <Id>3eeb94a2adb64d2d900a08a568ffb662</Id>
              <DateAdded>2020-02-03T14:41:50.9013729+08:00</DateAdded>
              <DateModified xsi:nil="true" />
              <FullName />
              <Gender>Male</Gender>
              <CivilStatus>Single</CivilStatus>
              <BirthDate xsi:nil="true" />
            </Person>
          </User>
        </value>
      </setting>
    </AvenueOne.Properties.Settings>
  </userSettings>
</configuration>